<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "../css/home.css">
    <title><%= title %></title>
</head>
<body>

    <h1>User profile</h1>
    <p><b>Username :</b> <%=  user.name %></p>
    <p><b>Email :</b> <%=  user.email %></p>
    <a href = "/users/sign-out"><button>Log out</button></a>
    
    <script src="https://kit.fontawesome.com/136a329c22.js" crossorigin="anonymous"></script>
    <script src = "./js/home.js"></script>
</body>
</html>